spring:
  application:
    name: collector

kafka:
  bootstrap:
    servers: localhost:9092
  topics:
    stats-user-action-v1: stats.user-actions.v1

grpc:
  server:
    port: 0

logging:
  level:
    org.springframework.kafka: DEBUG