spring:
  application:
    name: request-service
  sql:
    init:
      mode: always

  datasource:
    url: jdbc:postgresql://localhost:5432/ewm-db
    username: postgres
    password: "postgres"
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10

grpc:
  client:
    collector:
      address: 'discovery:///collector'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext
  server:
    port: 0


  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        globally_quoted_identifiers: true
        temp.use_jdbc_metadata_defaults: false

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: UTC

server:
  port: 0

logging:
  level:
    org.springframework.orm.jpa: INFO
    org.springframework.transaction: INFO
    org.springframework.transaction.interceptor: TRACE
    org.springframework.orm.jpa.JpaTransactionManager: DEBUG
    org.hibernate.sql: DEBUG
    org.hibernate.type: TRACE
    org.hibernate.orm.jdbc.bind: TRACE