server:
    port: 8080

spring:
    application:
        name: gateway-server
    config:
        import: "optional:configserver:"
    cloud:
        config:
            discovery:
                enabled: true
                serviceId: config-server
            fail-fast: false
        gateway:
            discovery:
                locator:
                    enabled: true
            routes:
                - id: user_service_route
                  uri: lb://user-service
                  predicates:
                      - Path=/admin/users/**

                - id: request_service_route
                  uri: lb://request-service
                  predicates:
                      - Path=/users/*/requests/**

                - id: event_service_route
                  uri: lb://event-service
                  predicates:
                      - Path=/**

eureka:
    client:
        serviceUrl:
            defaultZone: http://localhost:8761/eureka/
    instance:
        preferIpAddress: true

management:
    endpoints:
        web:
            exposure:
                include: health,gateway,info,metrics,prometheus
    endpoint:
        gateway:
            enabled: true
        health:
            show-details: always